<div class="mt-4">
    <div class="row">
        {{#each student}}
            <div class="col-sm-6 col-lg-4" >
                <div class="card-item">
                    <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">Class: {{this.Class}}</p>
                        <p class="card-text">Average: {{this.average}}</p>
                        <a href="/students/{{this.slug}}" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>